main h1 {
    font-size: 2.5rem;
    margin-bottom: 0.5em;
    color: var(--color-hover);
}

main h2 {
    font-size: 1.8rem;
    margin-top: 1.5em;
    margin-bottom: 0.5em;
    color: var(--color-hover);
}

main h3 {
    font-size: 1.4rem;
    margin-top: 1.2em;
    color: var(--color-hover);
}

main p {
    font-size: 1.1rem;
    margin-bottom: 1em;
    text-align: justify;
    color: var(--color);
}

.main-text-content {
    background-color: var(--background-color-a);
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
}

.text-content-container {
    display: flex;
    flex-direction: column;
    gap: 1em;
    width: 50%;
    padding: 10px;
}