main {
    display: flex;
    flex-grow: 1;
    background-color: var(--background-color-a);
    justify-content: center;
    align-items: center;
}

.contact-grid-container {
    display: grid;
    grid-auto-columns: 320px;
    grid-auto-rows: 180px;
    gap: 1em;
    grid-template-areas:
        "box-1 box-2"
        "box-1 box-2"
        "box-3 box-2";
}

.box {
    background-color: var(--nav-background-color);
}

.icon {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 1.5em;
}

#address-icon {
    background-color: var(--address-yellow-lighter);
    fill: var(--address-yellow);
}

#phone-icon {
    background-color: var(--footer-background-lighter);
    fill: var(--footer-background-color);
}

#mail-icon {
    background-color: var(--email-red-lighter);
    fill: var(--email-red);
}