footer {
    background-color: var(--footer-background-color);
    color: var(--nav-background-color);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 0 2em 2em 2em;
}

footer p {
    color: #d0cfce;
}

footer>p {
    font-size: .8rem;
}

#footer-separator {
    border: none;
    height: .5px;
    background-color: #888;
    margin: 10px auto;
    width: 30%;
}

#footer-title {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: .5em;
}

#footer-cross-icon {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background-color: var(--color);
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 1.5em;
}