#open-sidebar-icon,
#close-sidebar-icon {
    display: none;
    background: none;
    border: none;
    padding: 1em;
    cursor: pointer;
}

nav {
    background-color: var(--nav-background-color);
    color: var(--color);
    border-bottom: 1px solid var(--color);
}

nav ul {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

nav li {
    display: flex;
}

nav a {
    padding: 1em 2em;
    display: flex;
    align-items: center;
    transition: background-color 150ms ease;
}

nav a:hover {
    color: var(--color-hover);
}

#overlay {
    background: rgba(0, 0, 0, 0.5);
    position: fixed;
    inset: 0;
    z-index: 9;
    display: none;
}

@media screen and (max-width:1000px) {

    #open-sidebar-icon,
    #close-sidebar-icon {
        display: block;
    }

    nav {
        position: fixed;
        top: 0;
        right: -100%;
        height: 100vh;
        width: min(15em, 100%);
        z-index: 10;
        border-left: 1px solid #505050;
        transition: right 300ms ease-out;
    }

    nav.show {
        right: 0;
    }

    nav.show~#overlay {
        display: block;
    }

    nav ul {
        width: 100%;
        flex-direction: column;
    }

    nav a {
        width: 100%;
        padding-left: 2.5em;
    }

    nav li {
        text-align: center;
    }
}