:root {
    --nav-background-color: #fbfaf8;
    --color: #7e7367;
    --color-hover: #3b332b;
    --color-accent: #e3bf62;
    --background-color-a: #f9f7f0;
    --background-color-b: #f5f1eb;
    --footer-background-color: #24508f;
    --footer-background-lighter: #a2c4f3;
    --email-red: rgba(166, 26, 26, 0.648);
    --email-red-lighter: rgba(242, 188, 188, 0.648);
    --address-yellow: #a78e4f;
    --address-yellow-lighter: #e7d098;
    --footer-color: #d0cfce;

}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

a {
    text-decoration: none;
    color: inherit;
}

body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    margin: 0;
}