.book {
  width: 870px;
  display: flex;
  background-color: #fefff0;
}

.book img {
  width: 210px;
  box-shadow: 3px 0 4px rgba(0, 0, 0, 0.1);
}

.text {
  padding: 15px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
