.book {
  display: grid;
  width: 210px;
  grid-template-columns: 210px 0fr;
  > .text {
    margin-top: 10px;
    width: 0;
    height: 0;
    overflow: hidden;
    opacity: 0;
    transition: opacity 0.3s ease;
  }
}

.book.show {
  grid-template-columns: 210px 1fr;
  > .text {
    margin-top: 0;
    padding: 15px;
    width: 600px;
    height: auto;
    overflow: visible;
    opacity: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
  }
  min-width: 850px;
}

.book img {
  width: 210px;
  box-shadow: 3px 0 4px rgba(0, 0, 0, 0.1);
}

.visible-info button {
  width: 100%;
  text-align: center;
  box-sizing: border-box;
  padding: 8px 16px;
  background-color: #ffe1a9;
  border: none;
  border-radius: 6px;
  cursor: pointer;
  transition: all 0.3s ease;
}

.visible-info button:hover {
  opacity: 0.85;
}

@media screen and (max-width: 780px) {
  .book {
    grid-template-columns: 210px;
    grid-template-rows: 1fr 0fr;

    > .text {
      margin-top: 0;
      width: 0;
      height: 0;
      overflow: hidden;
      opacity: 0;
      transition: opacity 0.3s ease;
    }
  }

  .book.show {
    grid-template-columns: 210px;
    grid-template-rows: 0.5fr 1fr;

    > .text {
      margin-top: 0;
      padding: 15px;
      width: 180px;
      height: auto;
      overflow: visible;
      opacity: 1;
      text-align: center;
    }
    min-width: 210px;
  }
}
