.card {
  background-color: #f5f1db;
  width: 332px;
  height: 228px;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.icon {
  width: 32px;
  margin-bottom: 12px;
}

.text {
  padding: 5px;
}
