.contact h2 {
  text-align: center;
  padding-top: 60px;
}

.contact {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 50px;
  background-color: #fefff0;
}

.cards {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  gap: clamp(30px, 5vw, 80px);
  flex-shrink: 1;
}

.visit h2 {
  padding: 0;
  margin-top: 30px;
}

.visit {
  background-color: rgba(208, 39, 39, 0.4);
  width: 80%;
  border-radius: 8px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  gap: 30px;
  flex-shrink: 1;
  min-width: 290px;
}

.sub-script {
  width: 80%;
  font-size: clamp(0.6rem, 0.9vw, 1.1rem);
  margin-bottom: 40px;
  text-align: center;
  opacity: 0.7;
}

@media screen and (max-width: 768px) {
  .cards {
    flex-direction: column;
    gap: 0;
  }
  .visit {
    width: 50%;
  }
}
