.hero {
  background-image: url("../assets/heroImage.png");
  background-size: cover;
  background-position: center;
  width: 100%;
  height: 500px;
}

.hero-content {
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.4);
  backdrop-filter: blur(4px);
  display: flex;
  flex-direction: column;
  gap: 10%;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.hero-buttons {
  display: flex;
  gap: 30%;
  justify-content: center;
}

.hero-buttons button {
  padding: 0.75em 1.5em;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  background-color: #ffe1a9;
  transition: background 0.2s;
}

.hero-buttons button:hover {
  opacity: 0.9;
}
