.shop {
  background-color: #f5f1db;
  padding-bottom: 50px;
}

.shop h2 {
  text-align: center;
  padding: 60px 0;
}

.books {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  gap: 16px;
  overflow: hidden;
  /* flex-wrap: wrap; */
}

@media screen and (max-width: 780px) {
  .books {
    flex-direction: column;
  }
}
