@import url("https://fonts.googleapis.com/css2?family=Source+Serif+4:ital,opsz,wght@0,8..60,200..900;1,8..60,200..900&display=swap");

* {
  margin: 0;
  padding: 0;
}

body {
  font-family: "Source Serif 4", serif;
  background-color: rgb(30, 29, 29);
}
